.pageContents {
    background: var(--secondary_light);
}

.announcement-section {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;

}

.center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.announcementsContainer {
    width: 90vw;
    margin: 50px;
    gap: 20px;

    flex-wrap: wrap;
}

.static-block {
    background-color: var(--accent);
    padding: 10px;
    color: #f2f2f2;
    font-weight: bold;
    margin-right: 20px;
    font-family: sans-serif;
}

.announcement-marquee {
    overflow: hidden;

}

.announcement-marquee p {
    display: inline;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 3px solid var(--accent);
}

.announcement-marquee a {
    text-decoration: none;
    color: #0f1214;
}

.announcementsCont {
    margin-top: 30px;

}

.leftCont {
    width: calc(45vw - 40px);
    height: 500px;
    background: var(--primary_light);
    margin: 20px;
    overflow: hidden;
}


.rightCont {
    width: calc(45vw - 40px);
    height: 500px;
    background: var(--primary_light);
    margin: 20px;
}

.announcementTitle {
    font-size: 1.8rem;
    color: var(--primary_light);
    background-color: var(--primary_dark);
    height: 50px;
}

.newsCont {
    width: inherit;
}

.newsBox {
    width: inherit;
}

.aboutContainer {
    width: calc(90vw - 40px);
    padding: 20px;
    margin-top: 30px;
    background: var(--primary_light);

}


.aboutContent {
    gap: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.aboutTxt {
    width: calc(100% - 400px);
    text-align: justify;

}

.aboutTxt p {
    margin-top: 20px;
}

.tneaContent {
    width: 250px;
}

.aboutButton {
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.aboutButton:hover {
    background-color: var(--primary_dark);
}

@media (max-width: 990px) {
    .aboutContent{
        flex-direction:column !important ;
    }
    .aboutTxt{
        width:90%;
        gap:0px;
    }

    .announcementsCont{
        flex-direction:column;
    }

    .leftCont, .rightCont, .aboutContainer{
        width:90vw;
        margin:20px 0px;
    }
}