.Card {
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    background-color: var(--primary_light);
    box-shadow: var(--shadow_soft);
    transition: transform 0.3s ease;
  }

  .Card:hover {
    transform: translateY(-5px);
  }

  .Card img {
    width: 200px;
    max-height: 60%;
    min-height: 60%;
   
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }

  .Card img:hover {
    transform: scale(1.1);
  }

  .Card h3 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: var(--primary_dark);
  }

  .Card p {
    margin: 5px 0;
    color: var(--secondary_dark);
  }

  .Card button {
    padding: 10px 20px;
    background-color: var(--accent);
    color: var(--primary_light);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .Card button:hover {
    background-color: #0072c3;
    animation: pulse 1s infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  .course-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1320px) {
    .course-row {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 768px) {
    .course-row {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .d-flex-col {
    display: flex;
    flex-direction: column;
  }
  .course-grid {
  width: 80%;
  align-items: center;
}